<div class="notificationContainer">
    <ul class="notifications">
        <li class="notification is-alert is-hidden">
            <div class="notification__main">
                <h4 class="notification__title">
                    Add Subtenant Error
                    <a class="notification__close" href="#" title="Close notification"></a>
                </h4>
                <div class="notification__content">
                    We recommend the description to have a maximum length of 3 lines. Make sure that the notification provides enough information to
                    help the user
                </div>
            </div>
        </li>
    </ul>
</div>
